
@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}

.loading{
	margin-left:100%;
	margin:auto;
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 100%;
}

.loading:after{
	margin-left:65%;
	width: 70%;
	height: 70%;
	position: absolute;
	border-radius: 100%;
	opacity: 0.7;
	animation: rotate 1.4s infinite linear;
	background: transparent;
	box-shadow:  rgba(444, 0,0,0.6) -4px -6px 3px -3px;
	content: '';
}

h4{
	text-align: center;
	font-family: sans-serif;
}

h1{
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 3px;
	font-family: Cursive;
	font-size: 50px;
	color: white;
}

h1 span{
	font-size: 20px;
	vertical-align: super;
}

p{
	text-align: center;
	margin-top: 150px
}

h2{
	text-align: center;
	font-family: Cursive;
	color: #0f0000;
}

section{
	margin-top: 80px;
}

.phone{
	border: 1px solid black;
	width: 40%;
	margin-left:30%;
	margin-top: 20px;
	height: 610px;
	border-radius: 25px;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: black;
}

.phone > .phonename{
	margin-left: 42%;
	color: #ffffff;
}

.phone > .inner{
	height:90%;
	width: 100%;
	padding: 5px;
	border-radius: 2%;
}

.inner > .screen{
	border:1px solid black;
	height: 450px;
	width: 100%;
}

.screen > .elements{
	width: 100%;
	height: 100%;
}

.inner{
	background-color: #dff365;
	background-position: center;
	background-repeat:repeat-x;
	background-size: cover;
	padding-top: 15px;
}

.container .phone > .mini{
	height: 20px;
	width: 20px;
	margin-top: 7px;
	background-color: #555;
	margin-left: 27px;
}

.container .phone > .center{
	font-size: 25px;
	width: 40px;
	margin-left: 120px;
	color: white;
}

.container .phone > .back{
	width: 0;
	height: 0;
	margin-top: 7px;
	border-top: 10px solid transparent;
	border-left: 20px solid #555;
	border-bottom: 10px solid transparent;
	margin-left: 115px;
}


h3 img{
	border-radius: 50%;
}
